@model List<SlojPodataka.Modeli.Cas>

<h2>Časovi</h2>

<a asp-action="Dodaj">Dodaj čas</a>

<table border="1">

    <tr>
        <th>Datum</th>
        <th>Predmet</th>
    </tr>

    @foreach (var c in Model)
    {
        <tr>
            <td>@c.DatumVreme</td>
            <td>@c.Predmet.Naziv</td>
        </tr>
    }

</table>