@model SlojPodataka.Modeli.Prisustvo

<h2>Dodaj prisustvo</h2>

<form method="post">

    <div>
        <label>Učenik</label>

        <select asp-for="UcenikId"
                asp-items="ViewBag.Ucenici">
        </select>
    </div>

    <div>
        <label>Čas</label>

        <select asp-for="CasId"
                asp-items="ViewBag.Casovi">
        </select>
    </div>

    <div>
        <label>Prisutan</label>

        <input asp-for="Prisutan" />
    </div>

    <button type="submit">
        Sačuvaj
    </button>

</form>