USE [master]
GO
/****** Object:  Database [SkolaDB]    Script Date: 6/18/2026 2:58:46 PM ******/
CREATE DATABASE [SkolaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SkolaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SkolaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SkolaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SkolaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SkolaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SkolaDB]
GO
/****** Object:  View [dbo].[vw_ProcenatPrisustva]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- VIEW
-- STATISTIKA PRISUSTVA
-- ==========================================

CREATE VIEW [dbo].[vw_ProcenatPrisustva]
AS
SELECT
    u.ID AS UcenikID,

    u.Ime + ' ' + u.Prezime
        AS Ucenik,

    p.Naziv
        AS Predmet,

    CAST(
        100.0 *
        SUM(
            CASE
                WHEN pr.Prisutan = 1
                THEN 1
                ELSE 0
            END
        )
        /
        COUNT(pr.ID)
    AS DECIMAL(5,2))
        AS ProcenatPrisustva

FROM Ucenik u

INNER JOIN Prisustvo pr
    ON u.ID = pr.UcenikID

INNER JOIN Cas c
    ON pr.CasID = c.ID

INNER JOIN Predmet p
    ON c.PredmetID = p.ID

GROUP BY
    u.ID,
    u.Ime,
    u.Prezime,
    p.Naziv;
GO
/****** Object:  Table [dbo].[Casovi]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Casovi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DatumVreme] [datetime] NOT NULL,
	[PredmetId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KorisnickoIme] [nvarchar](50) NOT NULL,
	[Lozinka] [nvarchar](100) NOT NULL,
	[Uloga] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Predmeti]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Predmeti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
	[UkupnoBrojCasova] [int] NOT NULL,
	[Zavrsen] [bit] NOT NULL,
	[KorisnikId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prisustva]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prisustva](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UcenikId] [int] NOT NULL,
	[CasId] [int] NOT NULL,
	[Prisutan] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Ucenik_Cas] UNIQUE NONCLUSTERED 
(
	[UcenikId] ASC,
	[CasId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ucenici]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ucenici](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UceniciPredmeti]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UceniciPredmeti](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UcenikId] [int] NOT NULL,
	[PredmetId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Predmeti] ADD  DEFAULT ((0)) FOR [Zavrsen]
GO
ALTER TABLE [dbo].[Casovi]  WITH CHECK ADD  CONSTRAINT [FK_Cas_Predmet] FOREIGN KEY([PredmetId])
REFERENCES [dbo].[Predmeti] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Casovi] CHECK CONSTRAINT [FK_Cas_Predmet]
GO
ALTER TABLE [dbo].[Predmeti]  WITH CHECK ADD  CONSTRAINT [FK_Predmet_Nastavnik] FOREIGN KEY([KorisnikId])
REFERENCES [dbo].[Korisnici] ([Id])
GO
ALTER TABLE [dbo].[Predmeti] CHECK CONSTRAINT [FK_Predmet_Nastavnik]
GO
ALTER TABLE [dbo].[Prisustva]  WITH CHECK ADD  CONSTRAINT [FK_Prisustvo_Cas] FOREIGN KEY([CasId])
REFERENCES [dbo].[Casovi] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prisustva] CHECK CONSTRAINT [FK_Prisustvo_Cas]
GO
ALTER TABLE [dbo].[Prisustva]  WITH CHECK ADD  CONSTRAINT [FK_Prisustvo_Ucenik] FOREIGN KEY([UcenikId])
REFERENCES [dbo].[Ucenici] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prisustva] CHECK CONSTRAINT [FK_Prisustvo_Ucenik]
GO
ALTER TABLE [dbo].[UceniciPredmeti]  WITH CHECK ADD FOREIGN KEY([PredmetId])
REFERENCES [dbo].[Predmeti] ([Id])
GO
ALTER TABLE [dbo].[UceniciPredmeti]  WITH CHECK ADD FOREIGN KEY([UcenikId])
REFERENCES [dbo].[Ucenici] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_DodajCas]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- STORED PROCEDURE
-- CAS
-- ==========================================

CREATE PROCEDURE [dbo].[sp_DodajCas]
(
    @DatumVreme DATETIME,
    @PredmetID INT
)
AS
BEGIN
    INSERT INTO Cas
    (
        DatumVreme,
        PredmetID
    )
    VALUES
    (
        @DatumVreme,
        @PredmetID
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DodajPrisustvo]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ==========================================
-- STORED PROCEDURE
-- PRISUSTVO
-- ==========================================

CREATE PROCEDURE [dbo].[sp_DodajPrisustvo]
(
    @CasID INT,
    @UcenikID INT,
    @Prisutan BIT
)
AS
BEGIN
    INSERT INTO Prisustvo
    (
        CasID,
        UcenikID,
        Prisutan
    )
    VALUES
    (
        @CasID,
        @UcenikID,
        @Prisutan
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DodajUcenika]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DodajUcenika]
    @Ime NVARCHAR(50),
    @Prezime NVARCHAR(50)
AS
BEGIN
    INSERT INTO Ucenici (Ime, Prezime)
    VALUES (@Ime, @Prezime);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_IzmeniUcenika]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_IzmeniUcenika]
    @Id INT,
    @Ime NVARCHAR(50),
    @Prezime NVARCHAR(50)
AS
BEGIN
    UPDATE Ucenici
    SET Ime = @Ime,
        Prezime = @Prezime
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObrisiCas]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObrisiCas]
(
    @ID INT
)
AS
BEGIN
    DELETE FROM Cas
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObrisiPrisustvo]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObrisiPrisustvo]
(
    @ID INT
)
AS
BEGIN
    DELETE FROM Prisustvo
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObrisiUcenika]    Script Date: 6/18/2026 2:58:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ObrisiUcenika]
    @Id INT
AS
BEGIN
    DELETE FROM Ucenici WHERE Id = @Id;
END;
GO
USE [master]
GO
